{% extends "layout.html" %}

{% block title %}
    Amenity
{% endblock %}

{% block main %}
<body>
    <ul class="navbar-nav me-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="/">Map</a></li>
        <li class="nav-item"><a class="nav-link" href="/review">Leave a Review</a></li>
    </ul>
        <div class="mb-3">{{building}}</div>
        <div class="mb-3">{{amenity.name}}</div>
        <div class="mb-3">{{amenity.type}}</div>

        {% if amenity.type == "restroom" %}
            <div class="mb-3">Gender: {{amenity.gender}}</div>
        {% endif %}

        {% if amenity.type == "fountain" %}
            {% if amenity.bottle_filler == "true" %}
                <div class="mb-3">Bottle Refiller: Yes</div>
            {% else %}
                <div class="mb-3">Bottle Refiller: No</div>
            {% endif %}
        {% endif %}

        {% if amenity.type == "vending" %}
            <div class="mb-3">Machine Contents: {{amenity.vend_type}}</div>
        {% endif %}
        
        <div type="mb-3">Reviews:</div>
        {% for review in reviews %}
            <div>{{ review.text }}</div>
            <div>{{ review.rating }}</div>
        {% endfor %}
        <div>Average Rating: {{amenity.avg_rev}}</div>
</body>
{% endblock %}