{% extends "layout.html" %}

{% block title %}
    {{ place.name }}
{% endblock %}

{% block main %}
<!-- Add some cool CSS animation that makes the boxes kind of come forward a bit -->
<body>
        {% for row in buildings %}
    <a href="building" >
    <div class="tile {{row.abbreviation}}">
            <h2 class="tile-text">{{ row.name }}</h2>
    </div>
    </a>
        {% endfor %}

</body>
{% endblock %}

<!-- Sources: https://www.youtube.com/watch?v=h_7gV44rA-Q, https://www.digitalocean.com/community/tutorials/how-to-build-a-tiled-layout-with-css-section-3 -->