{% extends "layout.html" %}

{% block title %}
    {{ place.name }}
{% endblock %}

{% block main %}
<!-- Add some cool CSS animation that makes the boxes kind of come forward a bit -->
<body>

    <h1> {{place}} </h1>

    {% for building in buildings %}
    <div class="line">
        <div class="container">
            <form action="building" method="post">
                <input name="{{building.abbreviation}}" value="{{building.abbreviation}}" type="image" src="/static/{{building.image}}" width="auto" height="250">
                <div class="centered">{{ building.name }}</div>
            </form>
            <br>
        </div>
    </div>
    {% endfor %}

</body>
{% endblock %}

<!-- Sources: https://www.youtube.com/watch?v=h_7gV44rA-Q, https://www.digitalocean.com/community/tutorials/how-to-build-a-tiled-layout-with-css-section-3 -->