{% extends "layout.html" %}

{% block title %}
    {% for building in buildings %}
    {{building.abbreviation}} Fountains
    {% endfor %}
{% endblock %}

{% block main %}
    <form action="/building" method="post" class="line">
        {% for building in buildings %}
    <input style="display:none" type='text' name="abbreviation" value="{{building.abbreviation}}">
        {% endfor %}
    <button class="button">Back</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Water Fountain Location</th>
                <th class="text-start">Floor</th>
                <th class="text-start">Bottle Filler?</th>
                <th class="text-end">Rating</th>
            </tr>
        </thead>
    <tbody>
        {% for fountain in fountains %}
            <tr>
                <td class="text-start">{{ fountain.name }}
                    {% for cold in coldlist %}
                        {% if fountain.id == cold %}
                        <img class="icon" title="This fountain has cold water!" src="/static/coldicon.png" >
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="text-start">{{ fountain.floor }}</td>
                {% if fountain.bottle_filler == "true" %}
                    <td class="text-start">Yes</td>
                {% else %}
                    <td class="text-start">No</td>
                {% endif %}
                <td class="text-end">{{ fountain.avg_rev }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

<!-- SOURCES: https://thenounproject.com/icon/snowflake-5353680/, https://tforteni-code50-112820111-764rg4pjvw6hp5g4.github.dev/?folder=%2Fworkspaces%2F112820111&vscodeChannel=stable -->