{% extends "layout.html" %}

{% block title %}
    Kroon Hall Fountains
{% endblock %}

{% block main %}
    <form action="/building" method="post" class="line">
        {% for building in buildings %}
    <input style="display:none" type='text' name="abbreviation" value="{{building.abbreviation}}">
        {% endfor %}
    <button class="button">Back</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Water Fountain Location</th>
                <th class="text-start">Floor</th>
                <th class="text-start">Bottle Filler?</th>
                <th class="text-end">Rating</th>
            </tr>
        </thead>
    <tbody>
        {% for fountain in fountains %}
            <tr>
                <td class="text-start">{{ fountain.name }}</td>
                <td class="text-start">{{ fountain.floor }}</td>
                <td class="text-start">{{ fountain.bottle_filler }}</td>
                <td class="text-end">{{ restroom.rating }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <!-- <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ bankcash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot> -->
    </table>
{% endblock %}