{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in transactions %}
        <tr>
            <td class="text-start">{{ row.symbol }}</td>
            <td class="text-start">{{ row.name }}</td>
            <td class="text-start">{{ row.shares }}</td>
            <td class="text-start">{{ row.price | usd }}</td>
            <td class="text-start">{{ row.total | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}