{% extends "layout.html" %}

{% block title %}
    Science Hill
{% endblock %}

{% block main %}
<body>
    <div class="banner-kroon">
      <div class="banner-text">
          <h1 class="banner-header">Kroon Hall</h1>
          <h5 class="banner-subheader">Home of all things environmental science.</h5> <br>
          <button onclick="window.location.href='kroonvend';" class="button">Vending Machines</button>
          <button onclick="window.location.href='kroonrest';" class="button">Restrooms</button>
          <button onclick="window.location.href='kroonwater';" class="button">Water Fountains</button>
      </div>
    </div>
    <br>
    <h2> Designed as Yale’s sustainable flagship, the LEED Platinum-certified Kroon Hall was named a top 10 green building by the AIA Committee on the Environment. A modern high-performance building that references its Collegiate Gothic neighbors, Kroon houses offices, classrooms and a dramatic day-lit third floor loft for the Yale School of the Environment.
      <!-- COPIED FROM CENTERBROOK -->
    </body>
{% endblock %}

<!-- Sources: https://ordinarycoders.com/blog/article/hero-banners, https://www.w3schools.com/howto/howto_css_parallax.asp,  -->