{% extends "layout.html" %}

{% block title %}
    Science Hill
{% endblock %}

{% block main %}
<!-- Add some cool CSS animation that makes the boxes kind of come forward a bit -->
<body>
    <a href="kroonhall" >
    <div class="tile kroon">
            <h2 class="tile-text">Kroon<br>Hall</h2>
    </div>
    </a>

    <div class="tile watson">
            <h2 class="tile-text">Watson<br>Center</h2>
    </div>

    <div class="tile sloane">
            <h2 class="tile-text-big">Sloane Physics<br>Lab</h2>
    </div>
</body>
{% endblock %}

<!-- Sources: https://www.youtube.com/watch?v=h_7gV44rA-Q, https://www.digitalocean.com/community/tutorials/how-to-build-a-tiled-layout-with-css-section-3 -->