<!-- Search Amenities -->
{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div>Search</div>
        {% for amenity in amenities %}
        <div class="mb-3">
            <div class="mb-3">{{amenity.type}}<br>{{amenity.gender}}<br>{{amenity.bottle_filler}}<br>{{amenity.vend_type}}</div>
                {% for building in buildings%}
                    {% if building.id == amenity.building_id %}
                        <div class="mb-3">{{building.name}}</div>
                    {% endif %}
                {% endfor %}
                <br>
            <input class="mb-3" type="submit" name="amen" value="{{amenity.id}}" text ="{{amenity.name}}">
        </div>
        {% endfor %}
    </form>
{% endblock %}