<!-- Search Amenities -->
{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div>search</div>
        {% for amenity in amenities %}
        <div class="mb-3">
            <div>{{amenity.type}}<br>{{amenity.gender}}<br>{{amenity.bottle_filler}}<br>
                {% for building in buildings%}
                    {% if building.id == amenity.building_id %}
                        <div>{{building.name}}</div>
                    {% endif %}
                {% endfor %}
                <br>
                <li class="nav-item"><a class="nav-link" href="/amenities">{{amenity.name}}</a></li>
            </div>
        </div>
        {% endfor %}
    </form>
{% endblock %}